body {
    display: table;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1b1b1b;
    color: white;
    font-family: "Montserrat", Arial;
}

.container-fluid, #meals-list { padding: 0; }

nav img { width: 50px; }

.navbar-toggler, .navbar-brand, nav .btn-dark { margin-right: 1vw; }

.navbar-brand, .nav-item, nav button { margin-left: 1.5vw }

nav { margin-bottom: 2vw; }

h1 {
    padding-bottom: 0.5vw;
    border-bottom: solid white 0.25vw;
}

#meals, .meal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.meal {
    margin-top: 2vw;
    padding: 2vw;
    border: #ffc107 solid 0.5vw;
    border-radius: 3vw;
}

.meal > :not(:first-child), .foods-list > :not(:first-child) { margin-top: 1.5vw; }





#create-meal-button {
    background-color: #ffc107;
    border-radius: 100%;
    transition: 0.3s;
    display:inline-block; 
    position: relative;
}
#create-meal-button:hover {
    transform: scale(1.2);
    background-color: black;
    border: solid 0.1vw #ffc107;
}
#create-meal-button > svg { width: 50px; }
#create-meal-button > svg:hover { fill:#ffc107; }

#create-meal {
    position: fixed;
    z-index: 2;
    bottom: 15%;
    margin: 0 auto;
    text-align: center;
    text-align: center;
}

#create-meal > div {
    display: inline-block; 
}

#create-meal-tooltip {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    color: rgba(255,255,255,0);
    transition: .5s;
    transform: translateX(-20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateX(0%);
    opacity:0;
}

#create-meal-button:hover #create-meal-tooltip {
    color: #ffc107;
    opacity: 1;
    background-color: black;
    border: solid 0.1vw #ffc107;
    transform: translate(-50%, -50%) translateX(100%);
}





input {
    background-color: transparent;
    color: white;
    border: none;
    width: 100%;
}

.meal > input {
    display: inline-block;
    font-size: xx-large;
    margin-right: auto;
}

#meals-list, .foods-list, .dropdown-toggle, .food-options-dropdown, .create-new-food, .food-item-row .delete-food  { width: 100%; }

.create-new-food > svg, .cancel-new-food > svg { fill: white; }

h2 { margin-top: 2vw; }

.meals > .container-fluid { color: #ffc107; }

.meals > .container-fluid > .row label { font-size: x-large; }

food-options-dropdown a.dropdown-item { font-size: 0.75rem; }

.food-item:hover { color: black; }

.meal-title { color: black; }

.new-food-form label, .food-info-display label, .food-info-interactions label { margin-right: 0.5vw; }





footer {
    display: table-row;
    height: 1px;
    width: 100%;
    color: white;
}

footer > div {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vw;
}

#author {
    width: 6rem;
    height: 6rem;
    border-radius: 25%;
    overflow: hidden;
    object-fit: cover;
}

.social-media-icons {
    width: 10%;
    max-width: 3rem;
    margin-left: 1rem;
    border-radius: 25%;
}

footer a > img { transition: 0.3s; }
footer a > img:hover { transform: scale(1.2); }





@media screen and (min-width: 992px) {
    .navbar-brand, .nav-item { transition: 0.3s; }
    .navbar-brand:hover, .nav-item:hover, .navbar-nav > li > .active:hover {
        transform: scale(1.2);
        color: #ffc107;
    }
    
    .new-food-form > div > :nth-child(n+4) { margin-top: 1vw; }
    .confirm-new-food { margin-top: 1vw; }

    .food-info-display > div > :nth-child(n+3) { margin-top: 1vw; }
    .food-info-interactions .delete-food { margin-top: 1vw; }
}

@media screen and (max-width: 991px) {
    .new-food-buttons .row { justify-content: space-between; }
    .food-item-row > div, .new-food-form > div > div, .food-info-display > div > div { margin-bottom: 1.5vw; }
    .new-food-form > div > div { padding: 0; }
}